*{
    padding: 0;
    margin: 0;
    font-family: 'Figtree', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary-100: #D9DDFF;
    --white: #fff;
    --tertiary-600: #2a3a00;
    --primary-400: #295BFF;
    --secondary--100: #FFDBD7;
}

body{
    background-color: var(--primary-100);
}

#logoaca{
    position: relative;
}

#logo {
    background: url(./img/Logo-horizontal-84px.svg);
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

h1 {
    width: 100%;
    height: 3.5rem;
    text-indent: -8000px;
    overflow: hidden;
}

.primary-buttom{
    padding: 14px 20px;
    background: none;
    border-radius: 7px;
    border: 1px solid #171717;
}

#carousel{
    padding: 0;
}

figure{
    margin: 0px;
}

.logo-partners{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px 10px;
    flex-wrap: wrap;
    background: var(--white);
    border-bottom: 0.5px solid var(--tertiary-600);
}

#sec-video{
    display: flex;
    padding: 80px 24px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: var(--white);
}

#sec-video strong{
    color: var(--primary-400);
}

#sec-servicios{
    padding: 80px 24px;
    gap: 30px;
    background: var(--secondary--100);
}

.card{
    padding: 30px 26px;
    gap: 20px;
}

.icon-servicios{
    width: 80px;
    height: 80px;
}

.secondary-buttom{
    text-decoration: none;
    color: var(--primary-400);
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    #logo{
        left: calc(50% - 100px)
    }
}