*{
    padding: 0;
    margin: 0;
    font-family: 'Figtree', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary-100: #D9DDFF;
    --white: #fff;
    --tertiary-600: #2a3a00;
    --primary-400: #295BFF;
    --secondary--100: #FFDBD7;
}

body{
    background-color: var(--primary-100);
}

/* Header */

#logoaca{
    position: relative;
}

#logo {
    background: url(./img/Logo-horizontal-84px.svg);
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

h1 {
    width: 100%;
    height: 3.5rem;
    text-indent: -8000px;
    overflow: hidden;
}

.primary-buttom{
    padding: 14px 20px;
    background: none;
    border-radius: 7px;
    border: 1px solid var(--primary-400);
    color: var(--primary-400);
}

.primary-buttom:hover {
    transform: scale(0.98);
}

/* Carousel section */

#carousel{
    padding: 0;
}

figure{
    margin: 0px;
}

/* Partners logo section */

.logo-partners{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px 10px;
    flex-wrap: wrap;
    background: var(--white);
    border-bottom: 0.5px solid var(--tertiary-600);
}

/* Video section */

#sec-video{
    display: flex;
    padding: 80px 24px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: var(--white);
}

#sec-video iframe{
    width: 75vw;
    height: 45vh;
}

#sec-video strong{
    color: var(--primary-400);
}

/* Services section */

#sec-servicios{
    padding: 80px 32px;
    gap: 30px;
    background: var(--secondary--100);
}

#sec-servicios h2{
    font-size: 0.83313rem;
    font-weight: 400;
    line-height: 1.75rem;
    color:#260700;
}

#sec-servicios h2{
    color:#260700;
    font-size: 1.44rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.card{
    padding: 30px 26px;
    gap: 20px;
}

.card:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
}

.icon-servicios{
    width: 80px;
    height: 80px;
}

.secondary-buttom{
    text-decoration: none;
    color: var(--primary-400);
    font-size: 16px;
    font-weight: 500;
}

/* Gallery section */

#sec-galeria h2{
    color: var(--primary-600, #002175);
    font-size: 27.65px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 20px;
    margin: 0px;
}

#sec-galeria {
    padding: 80px 0px;
    position: relative;
    width: 100%;
    max-width: 75vw;
    margin: 0 auto 0;
    text-align: center;
}

#sec-galeria figure a {
    text-decoration: none;
}

#sec-galeria figure a img{
    width: calc(75vw / 2.05);
    border-radius: 8px;
    animation: sec-04 2s ease 2s 1 normal backwards;
}

#sec-galeria figure a img:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 31px 0px rgba(141,78,235,0.35);
    -webkit-box-shadow: 0px 0px 31px 0px rgba(141,78,235,0.35);
    -moz-box-shadow: 0px 0px 31px 0px rgba(141,78,235,0.35);
}

/* Trabajemos juntos */

#sec-formulario {
    background: var(--white);
    padding: 5rem 2.4375rem;
    gap: 1.4375rem;
}

#sec-formulario h2{
    color: var(--primary-400);
    font-size: 1.72813rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    padding: 0.62rem 0 0.62rem 0;
    margin-bottom: 1.65rem;
}

#contact {
    width: 75vw;
    margin: 0 auto;
}
#contact .wrapper {
    flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

.contact-desc {
    color:#002175;
    font-size: 0.83313rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.form-wrapper form {
    text-align: center;
}

.right .form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    color: #7487FF;
    font-size: 0.69438rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
	display: inline-block;
}

.input-wrapper {
    border-radius: 0.375rem;
    border: 1px solid var(--primary-400);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 3rem;
	overflow: hidden;
}

.form-group strong{
    color: #FF6229;
}

#contact .right .form-group .input-wrapper input {
    padding: 1rem;
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	font-size: var(--bl);
}

#contact .right .form-group textarea {
	width: 100%;
	height: 25vh;
	resize: vertical;
	padding: 1rem;
	border-radius: 4px;
}

#contact .right .form-wrapper button {
    background-color: var(--primary-400);
    color: var(--white);
    width: 80%;
    margin-top: 1rem;
	padding: 1rem 0;
	border-radius: 146px 146px 146px 146px;
    -webkit-border-radius: 146px 146px 146px 146px;
    -moz-border-radius: 146px 146px 146px 146px;
	border: none;
	cursor: pointer;
}

.form-group textarea{
    border-radius: 0.375rem;
    border: 1px solid var(--primary-400);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 3rem;
	overflow: hidden;
}

#contact .right .form-wrapper button:hover {
    transform: scale(0.98);
}

/*-FOOTER SECTION-*/

footer {
    background: #2A3A00;
    display: flex;
    padding: 5rem 2rem;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
}

#footer {
	color: #C6FF29;
    width: 75vw;
    margin: 0 auto;
    text-align: center;
}

#footer h1{
    height: 18.5rem;
    margin-bottom: 4rem;
}

#logo-footer {
    background-image: url(./img/Logo-vertical-green.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#footer ul{
    padding-left: 0px;
}

#footer ul li {
    list-style: none;
    padding-bottom: 1rem;
}

#footer ul li a {
	display: inline-block;
	width: 100%;
    color: #C6FF29;
}

#footer .redes-sociales ul {
	display: flex;
	justify-content: center;
}

#footer .redes-sociales ul li a {
    width: calc(75vw / 4);
    height: calc(75vw/4);
	text-indent: -30000px;
    overflow: hidden;
    padding: 0 1rem;
}

#facebook{
    background-image: url(./img/entypo-social_facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#instagram{
    background-image: url(./img/basil_instagram-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#twitter{
    background-image: url(./img/skill-icons_twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#copyright {
	padding: 1rem 0;
	background-color: #2A3A00;
    color: #C6FF29;
}
#copyright p {
	margin: 1rem;
}

/* Tablet */

@media screen and (min-width: 768px) {

    /* Logos-partners */

    .logo-partners{
        padding: 2.69rem;
        gap: 2.25rem 1.5rem;
        
    }

    /* Sección video */

    #sec-video{
        padding: 8.75rem 6.5rem;
        gap: 2rem;

    }

    /* Servicios */

    #sec-servicios{
        padding: 8.5rem 6.5rem;
    }
    
}

/* Website */

@media screen and (min-width: 992px) {

    /* Logos-partners */

    .logo-partners{
        padding: 6.25rem;
        gap: 2rem 4rem;
        
    }

}

@media screen and (max-width: 992px) {
    #logo{
        left: calc(50% - 100px)
    }
}
